  ---
  Object Layer of Amazon S3 SDK
  ---
  Yegor Bugayenko
  ---
  2014-11-02
  ---

Object Layer of Amazon S3 SDK

  For example:

+--
import com.jcabi.s3.Bucket;
import com.jcabi.s3.Ocket;
import com.jcabi.s3.Region;
public class Main {
  public static void main(String[] args) {
    Region region = new Region.Simple("key", "secret");
    Bucket bucket = region.bucket("my.example.com");
    Ocket.Text ocket = new Ocket.Text(bucket.ocket("test.txt"));
    String content = ocket.read();
    ocket.write("hello, world!");
  }
}
+--

  Check {{{./apidocs-${project.version}/index.html}JavaDoc}}
  for more details.

  The only dependency you need is
  (you can also download
  {{{http://repo1.maven.org/maven2/com/jcabi/jcabi-s3/${project.version}/jcabi-s3-${project.version}.jar}<<<jcabi-s3-${project.version}.jar>>>}}
  and add it to the classpath):

+--
<dependency>
  <groupId>com.jcabi</groupId>
  <artifactId>jcabi-s3</artifactId>
  <version>${project.version}</version>
</dependency>
+--

* Cutting Edge Version

  If you want to use current version of the product, you can do it with
  this configuration in your <<<pom.xml>>>:

+--
<repositories>
  <repository>
    <id>oss.sonatype.org</id>
    <url>https://oss.sonatype.org/content/repositories/snapshots/</url>
  </repository>
</repositories>
<dependencies>
  <dependency>
    <groupId>com.jcabi</groupId>
    <artifactId>jcabi-s3</artifactId>
    <version>1.0-SNAPSHOT</version>
  </dependency>
</dependencies>
+--
